<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjuan.dao.GroupMapper">
    <resultMap id="BaseResultMap" type="com.wenjuan.model.Group">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="add_background" property="addBackground" jdbcType="TINYINT"/>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM wj_group
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *
        FROM wj_group
        WHERE name = #{grpName,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM wj_group
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wenjuan.model.Group">
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into wj_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="addBackground != null">
                add_background,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addBackground != null">
                #{addBackground,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.wenjuan.model.Group">
        update wj_group
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addBackground != null">
                add_background = #{addBackground,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getExistsGroup" resultType="java.lang.String">
        SELECT name
        FROM wj_group;
    </select>
    <update id="deleteGroup" parameterType="java.lang.String">
        DELETE FROM wj_group
        WHERE name = #{id,jdbcType=INTEGER}
    </update>
    <select id="isGroupExists" parameterType="java.lang.String" resultType="int">
        SELECT count(*)
        FROM wj_group
        WHERE name = #{grp,jdbcType=VARCHAR}
    </select>
    <select id="getExistsGroupInfo" resultMap="BaseResultMap">
        SELECT *
        FROM wj_group;
    </select>
    <select id="getMyGroup" resultMap="BaseResultMap" parameterType="int">
        SELECT g.*
        FROM wj_group g, wj_user_group wug
        WHERE wug.user_id = #{userId} AND wug.group_id = g.id;
    </select>
</mapper>