<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjuan.dao.UserFollowDiaryMapper">
    <resultMap id="BaseResultMap" type="com.wenjuan.model.UserFollowDiary">
        <id column="userid" property="userId" jdbcType="INTEGER"/>
        <id column="diaryid" property="diaryId" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map">
        SELECT *
        FROM wj_user_follow_diary
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND diaryid = #{diaryid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        DELETE FROM wj_user_follow_diary
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND diaryid = #{diaryid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wenjuan.model.UserFollowDiary">
        INSERT INTO wj_user_follow_diary (userid, diaryid
        )
        VALUES (#{userId,jdbcType=INTEGER}, #{diaryId,jdbcType=INTEGER}
        )
    </insert>
    <select id="selectFollowInfo" parameterType="map" resultType="com.wenjuan.model.UserFollowDiary">
        SELECT *
        FROM wj_view_user_follow_diary
        WHERE 1=1
        <if test="comparator != null and time != null">
            AND unix_timestamp(time) ${comparator} ${time}
        </if>
        <choose>
            <when test="followed == null || !followed ">
                AND user_id = #{userId,jdbcType=INTEGER}
            </when>
            <otherwise>
                AND author_id = #{userId,jdbcType=INTEGER}
            </otherwise>
        </choose>
        <if test="order != null and order != ''">
            order by ${order}
        </if>
        <if test="startIndex != null">
            limit #{startIndex,jdbcType=INTEGER},#{pageLimited,jdbcType=INTEGER}
        </if>
    </select>
    <select id="diaryPariseFY" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from wj_user_follow_diary where diaryid=#{id} order by time desc limit #{begin},#{end}
    </select>
    <select id="diaryPariseCount" resultType="int" parameterType="java.util.Map">
        select count(*) from wj_user_follow_diary where diaryid=#{id}
    </select>
    <select id="selectFollowCount" parameterType="map" resultType="int">
        SELECT count(*)
        FROM wj_view_user_follow_diary
        WHERE author_id = #{userId}
        <if test="comparator != null and time != null">
            AND unix_timestamp(time) ${comparator} ${time}
        </if>
    </select>
    <select id="selectAll" parameterType="int" resultType="com.wenjuan.model.UserFollowDiary">
        SElect * from wj_view_user_follow_diary where diary_id=#{id}
    </select>
</mapper>